body {
  color: #fff;
  background-color: #0e0d10;
  font-family: Satoshi Variable, sans-serif;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  font-weight: 700;
  line-height: 135%;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 135%;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 700;
  line-height: 135%;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 135%;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 135%;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 135%;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 160%;
}

a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  text-decoration: none;
}

blockquote {
  border-left: .4em solid #e2e2e2;
  margin-bottom: 1em;
  padding: 1em 2em;
  font-size: 140%;
  line-height: 1.6;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 5em 10em;
}

.style_item {
  border-bottom: .1em solid #bdbdbd;
  padding: 2em 0;
}

.html {
  width: 0;
  height: 0;
  position: absolute;
  inset: 0% 0% auto;
  overflow: hidden;
}

.c-rich-text p {
  margin-top: .5em;
  margin-bottom: 2em;
}

.c-rich-text h1, .c-rich-text h2, .c-rich-text h3 {
  margin-top: .2em;
  margin-bottom: .2em;
}

.c-rich-text h4 {
  margin-top: .2em;
  margin-bottom: .6em;
}

.c-rich-text h5 {
  margin-top: .2em;
  margin-bottom: 1em;
}

.c-rich-text h6 {
  margin-top: .2em;
  margin-bottom: .2em;
}

.body {
  background-color: #0a0a0e;
}

.nav {
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.nav-button {
  letter-spacing: .2px;
  background-color: #0b0b0f;
  border: 1px solid #fff3;
  border-radius: 8px;
  padding-left: 16px;
  padding-right: 16px;
  transition: box-shadow .25s, border-color .25s;
}

.nav-button:hover {
  border-color: #9292af;
  box-shadow: 0 0 18px #334064;
}

.figma {
  z-index: 2;
  -webkit-backdrop-filter: blur(36px);
  backdrop-filter: blur(36px);
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  background-color: #ffffff03;
  background-image: radial-gradient(circle farthest-side at 50% 0, #ffffff1f, #fff0);
  border: 1px solid #ffffff1f;
  border-radius: 10px;
  width: 1200px;
  max-width: 1200px;
  height: 710px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  box-shadow: 0 4px 116px #f0f0f01c;
}

.figma-tab-wrapper {
  z-index: 1;
  background-color: #00000029;
  border-bottom: 1px solid #ffffff12;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  align-items: center;
  height: 48px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  position: relative;
}

.window-controls {
  background-color: #0203081f;
  border: 1.5px solid #ffffff1a;
  border-radius: 100%;
  width: 14px;
  height: 14px;
}

.window-controls-container {
  justify-content: space-between;
  width: 64px;
  display: flex;
}

.figma-tab-name {
  z-index: 2;
  color: #fff;
  letter-spacing: .2px;
  -webkit-text-fill-color: transparent;
  background-color: #181818;
  background-image: linear-gradient(#ffffff4d 32%, #3330);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;
  position: relative;
}

.figma-tab-name.selected {
  cursor: pointer;
  background-image: linear-gradient(#ffffffe6 40%, #727272);
}

.figma-tab {
  border-left: 1px solid #353535;
  border-right: 1px solid #353535;
  justify-content: center;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.figma-tab.selected {
  cursor: pointer;
  border-left-width: 0;
  border-right: 1px solid #353535;
  position: relative;
}

.figma-tab._1, .figma-tab._2 {
  border-right-width: 0;
}

.figma-tab-bar {
  height: 100%;
  margin-left: 24px;
  display: flex;
}

.figma-toolbar {
  z-index: 3;
  border-bottom: 1px solid #ffffff12;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding-left: 0;
  padding-right: 20px;
  display: flex;
  position: relative;
}

.figma-icons {
  display: flex;
}

.tool-icon {
  height: 44px;
}

.figma-controls {
  align-items: center;
  display: flex;
}

.figma-user {
  background-color: #0b99ff;
  border-radius: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
}

.figma-user-ring {
  border: 1.5px solid #363638;
  border-radius: 100%;
  padding: 4px;
}

.figma-user-ring.left {
  margin-right: 10px;
}

.figma-share-button {
  letter-spacing: .2px;
  -webkit-text-fill-color: transparent;
  background-color: #0000;
  background-image: linear-gradient(#fff, #f3f3f3 34%, #333);
  -webkit-background-clip: text;
  background-clip: text;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  margin-left: 16px;
  padding: 6px 16px;
  font-size: 14px;
  transition: box-shadow .25s, border-color .25s;
}

.figma-share-button:hover {
  border-color: #9292af;
  box-shadow: 0 0 18px #334064;
}

.figma-canvas {
  z-index: 2;
  perspective-origin: 0 0;
  transform: scale3d(1none, 1none, 1none);
  transform-origin: 0 0;
  transform-style: preserve-3d;
  justify-content: space-between;
  align-items: flex-start;
  height: 613px;
  display: flex;
  position: relative;
}

.figma-left-panel {
  border-right: 1px solid #ffffff12;
  width: 200px;
  height: 100%;
}

.figma-right-panel {
  border-left: 1px solid #ffffff12;
  width: 200px;
  height: 100%;
}

.figma-design {
  z-index: 12;
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-image: linear-gradient(135deg, #1e1e1f, #1e1e20);
  border: 1px solid #4f4f50;
  border-radius: 16px;
  width: 240px;
  height: 512px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  display: block;
  position: relative;
  top: 48px;
  overflow: hidden;
  box-shadow: 0 22px 40px -10px #00000040;
}

.lofi-header {
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #29292b;
  border-radius: 6px;
  width: 104px;
  height: 18px;
}

._100vh {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

.lofi-container-1 {
  margin-bottom: 20px;
  display: flex;
}

.lofi-block {
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #29292b;
  border: 1px solid #505051;
  border-radius: 12px;
  width: 72px;
  height: 72px;
}

.lofi-flex-1 {
  flex-direction: column;
  justify-content: center;
  margin-left: 22px;
  display: flex;
}

.lofi-title {
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #29292b;
  border: 1px solid #505051;
  border-radius: 6px;
  width: 88px;
  height: 18px;
  margin-bottom: 10px;
}

.lofi-description-1 {
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #29292b;
  border-radius: 8px;
  width: 64px;
  height: 6px;
  margin-bottom: 6px;
}

.lofi-description-2 {
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #29292b;
  border-radius: 8px;
  width: 48px;
  height: 6px;
  margin-bottom: 6px;
}

.lofi-subhead {
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #29292b;
  border-radius: 6px;
  width: 60px;
  height: 18px;
  margin-bottom: 16px;
}

.lofi-container-2 {
  flex-direction: column;
  margin-top: 24px;
  display: flex;
}

.lofi-block-lg {
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #29292b;
  border: 1px solid #505051;
  border-radius: 12px;
  width: 120px;
  height: 120px;
  margin-right: 16px;
}

.lofi-off-screen-container {
  width: 288px;
  display: flex;
}

.request-access-button {
  z-index: 20;
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #ffffff03;
  border: 1px solid #505051;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 56px;
  margin-top: 24px;
  transition: border-color .25s, box-shadow .25s;
  display: flex;
  position: absolute;
  top: 461px;
  left: 499px;
  overflow: hidden;
}

.request-access-button:hover {
  border-color: #9292af;
  box-shadow: 0 0 18px #334064;
}

.button-text {
  z-index: 10;
  letter-spacing: .2px;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  background-image: linear-gradient(#ffffffd1 27%, #707070 96%);
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 18px;
  font-weight: 500;
  position: relative;
}

.you-cursor {
  z-index: 23;
  max-width: 50px;
  max-height: 28px;
  display: flex;
  position: absolute;
  inset: auto 646px 504px auto;
}

.cursor-nametag {
  background-color: #0d99ff;
  min-width: 90px;
  max-width: 90px;
  max-height: 28px;
  padding: 4px 8px;
  display: block;
}

.cursor-text {
  outline-offset: 0px;
  letter-spacing: .2px;
  outline: 3px #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
}

.cursor-relative {
  flex-direction: column;
  display: flex;
  position: relative;
}

.cursor-arrow {
  width: 48px;
  position: absolute;
  top: -42px;
  left: -36px;
}

.genius-div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
}

.genius-loop {
  background-color: #fff;
  border-radius: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
}

.genius-hole {
  background-color: #1e1e21;
  border-radius: 100%;
  width: 6px;
  height: 6px;
  position: absolute;
}

.genius-dot-1 {
  background-color: #fff;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  position: absolute;
  top: .5px;
}

.genius-dot-2 {
  background-color: #fff;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 3px;
  right: 3px;
}

.genius-dot-3 {
  background-color: #fff;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 10px;
  right: 0;
}

.genius-dot-4 {
  background-color: #fff;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 18px;
  right: 3px;
}

.genius-dot-5 {
  background-color: #fff;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  position: absolute;
  top: 21px;
  right: auto;
}

.genius-dot-6 {
  background-color: #fff;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.genius-dot-7 {
  background-color: #fff;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: 10.5px;
  left: 0;
}

.genius-dot-8 {
  background-color: #fff;
  border-radius: 100%;
  width: 3px;
  height: 3px;
  position: absolute;
  bottom: 18px;
  left: 3px;
}

.home-link.w--current {
  transition: opacity .2s;
}

.radial-gradient {
  z-index: 0;
  background-image: radial-gradient(circle at 50% 0, #ffffff1f, #fff0);
  border-radius: 10px;
  position: absolute;
  inset: 0%;
}

.figma-tab-container {
  z-index: 110;
  position: relative;
}

.genius-cursor {
  z-index: 22;
  display: flex;
  position: absolute;
  inset: auto 473px 427px auto;
}

.cursor-nametag-genius {
  background-color: #000;
  border: 1.5px solid #fff;
  border-radius: 3px 20px 20px;
  padding: 8px 12px;
  display: flex;
  box-shadow: 0 8px 12px -4px #00000080;
}

.genius-icon {
  width: 18px;
  margin-right: 8px;
}

.genius-dots-1, .genius-dots-2, .genius-dots-3, .genius-dots-4, .genius-dots-5, .genius-dots-6, .genius-dots-7, .genius-dots-8 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  inset: 0%;
}

.nav-logo-flex {
  align-items: flex-end;
  display: flex;
}

.by-diagram-text {
  color: #ffffff80;
  margin-bottom: .5px;
  margin-left: 4px;
  font-size: 17px;
  font-weight: 500;
  transition: opacity .2s;
}

.by-diagram-text:hover {
  opacity: .7;
}

.diagram-link {
  margin-bottom: -.5px;
}

.icon-absolute {
  position: absolute;
  inset: 0%;
}

.cmd-tab-hover {
  z-index: -1;
  opacity: 0;
  background-color: #0006;
  border: 4px #6366f1;
  border-radius: 18px;
  margin: -6px;
  position: absolute;
  inset: 0%;
}

.arc-circle-icon {
  z-index: 2;
  width: 24px;
  position: absolute;
  inset: auto -2px -2px auto;
}

.arc-circle-icon.hide {
  display: none;
}

.dock {
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  background-image: linear-gradient(135deg, #38393a99, #1f20231a);
  border: 1px solid #404043;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: box-shadow .4s;
  display: flex;
  box-shadow: 0 4px 6px #0000000d, 0 10px 16px -3px #0000001a;
}

.dock:hover {
  box-shadow: 0 20px 32px #0000001a, 0 10px 16px -3px #0000001a;
}

.app-icon {
  z-index: 2;
  border-radius: 12px;
  width: 48px;
  margin-right: 18px;
  position: relative;
  box-shadow: 0 1px 2px #00000080;
}

.app-icon.relative {
  position: relative;
}

.app-icon.relative._1 {
  flex-direction: column;
  display: flex;
  box-shadow: 0 1px 2px #0000;
}

.app-icon.relative._1.last {
  margin-right: 0;
}

.app-icon.xdesign {
  box-shadow: none;
  min-width: 60px;
  margin-top: -16px;
  margin-left: -6px;
  top: 10px;
}

.app-icons {
  display: flex;
}

.dock-absolute {
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: auto 0% 8px;
}

.constellation-absolute {
  z-index: 0;
  transform: scale3d(1none, 1none, 1none);
  transform-style: preserve-3d;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.diagram-constellation {
  width: 500px;
  height: 500px;
  position: relative;
}

.constellation-01 {
  width: 100%;
  position: absolute;
  inset: 0%;
}

.constellation-13 {
  z-index: 1;
  width: 100%;
  position: absolute;
  inset: 0%;
}

.constellation-02, .constellation-03 {
  width: 100%;
  position: absolute;
  inset: 0%;
}

.constellation-04 {
  z-index: 1;
  width: 100%;
  position: absolute;
  inset: 0%;
}

.constellation-05, .constellation-06, .constellation-07, .constellation-08, .constellation-09, .constellation-10, .constellation-11, .constellation-12, .constellation-14, .constellation-15, .constellation-16, .constellation-17, .constellation-18, .constellation-19, .constellation-20, .constellation-21 {
  width: 100%;
  position: absolute;
  inset: 0%;
}

.constellation-22 {
  z-index: 2;
  width: 100%;
  position: absolute;
  inset: 0%;
}

.constellation-23 {
  width: 100%;
  position: absolute;
  inset: 0%;
}

.constellation-24 {
  z-index: 0;
  width: 100%;
  position: absolute;
  inset: 0%;
}

.constellation-25 {
  width: 100%;
  position: absolute;
  inset: 0%;
}

.dock-divider {
  background-image: linear-gradient(#333336, #404043);
  width: 1px;
  margin-left: 20px;
  margin-right: 16px;
}

.star-bg {
  z-index: -1;
  opacity: 0;
  background-image: url('../images/star-bg.png');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  inset: 0%;
}

.lofi-profile {
  perspective-origin: 0 0;
  transform-origin: 0 0;
  background-color: #29292b;
  border-radius: 100%;
  width: 28px;
  height: 28px;
  margin-right: 20px;
}

.lofi-flex {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  display: flex;
}

.genius-spotlight {
  filter: blur(24px);
  background-color: #ffffff80;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  position: absolute;
  inset: 51px 105px auto auto;
}

.teaser-logo-flex {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.teaser-absolute {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.teaser-logo {
  z-index: 0;
  position: relative;
}

.blur {
  z-index: 1;
  filter: blur(19px);
  background-image: linear-gradient(#0000, #222225 29%, #252529 54%, #1c1c1f);
  height: 220px;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 164px;
  left: 0%;
  right: 0%;
}

.genius-display-text {
  -webkit-text-fill-color: transparent;
  cursor: default;
  background-image: url('../images/genius-grain.png'), linear-gradient(#e6e8ef, #dbdde4 32%, #333);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: Satoshi Variable, sans-serif;
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
}

.end-div {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  display: flex;
  position: relative;
}

.teaser-text-div {
  z-index: 10;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8px;
  display: flex;
  position: relative;
  top: -128px;
}

.companion-text {
  color: #ffffff80;
  text-align: center;
  letter-spacing: .2px;
  -webkit-text-fill-color: transparent;
  cursor: default;
  background-image: linear-gradient(#fff, #333);
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: 16px;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.5;
}

.grain {
  z-index: 2;
  opacity: .25;
  background-image: url('../images/grain.png');
  background-position: 50%;
  background-size: cover;
  position: absolute;
  inset: 0%;
}

.figma-middle {
  flex-direction: column;
  align-items: center;
  width: 798px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.galaxy-button-bg {
  opacity: 1;
  background-image: url('../images/galaxy-button.png');
  background-position: 0 0;
  background-size: contain;
  width: 2000px;
  height: 2000px;
  margin-right: auto;
  position: absolute;
  inset: -432px 0% 0% -432px;
}

.tooltip-float-diagram {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  top: -64px;
  left: -28px;
  right: auto;
}

.tooltip {
  background-color: #fff;
  border-radius: 10px;
  justify-content: flex-start;
  align-items: center;
  min-width: 100px;
  max-width: 200px;
  min-height: 42px;
  padding: 12px 16px;
  display: flex;
  box-shadow: 4px 4px 14px #080f340a, 1px 1px 1px #170f490a, 0 0 1px #170f4908;
}

.tooltip.center {
  perspective-origin: 50% 100%;
  transform-origin: 50% 100%;
  text-align: center;
  background-color: #0000;
  background-image: linear-gradient(135deg, #38393a99, #1f20231a);
  border: 1px solid #404043;
  border-radius: 7px;
  justify-content: center;
  min-width: auto;
  max-width: none;
  min-height: auto;
  padding: 8px;
}

.tooltip-text {
  color: #fff;
  letter-spacing: .2px;
  margin-bottom: 0;
  font-family: Satoshi Variable, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
}

.tooltip-arrow {
  margin-top: auto;
  margin-bottom: auto;
  position: absolute;
  inset: 34% auto auto -8px;
}

.tooltip-arrow.bottom {
  width: 20px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  inset: auto 0% 5px;
}

.tooltip-float-readcv {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  top: -64px;
  left: -10px;
  right: auto;
}

.tooltip-float-xdesign {
  opacity: 0;
  min-width: 114px;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  top: -64px;
  left: -32px;
  right: auto;
}

.soon-text {
  color: #ffffff80;
}

.tooltip-float-figma {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  top: -64px;
  left: -5px;
  right: auto;
}

.tooltip-float-campsite {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  top: -64px;
  left: -14px;
  right: auto;
}

.tooltip-float-universe {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  top: -64px;
  left: -11px;
  right: auto;
}

.tooltip-float-trash {
  opacity: 0;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
  position: absolute;
  top: -64px;
  left: -3px;
  right: auto;
}

.share-button {
  letter-spacing: .2px;
  background-color: #0000;
  margin-right: 16px;
  padding: 9px 16px;
  display: flex;
}

.cursor-highlight {
  z-index: 100;
  filter: blur(18px);
  background-color: #ffffff26;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  inset: 50% 0% 0%;
}

.cursor-highlight-tabs {
  z-index: 1;
  filter: blur(18px);
  background-color: #ffffffb3;
  border-radius: 100%;
  width: 100px;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  inset: auto 0% 0%;
}

.div-block-2 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  inset: 0%;
}

.div-block-3 {
  opacity: .55;
  border: 1px solid #9292af;
  border-radius: 10px;
  width: 180px;
  height: 40px;
  position: absolute;
}

.div-block-3-copy {
  opacity: .3;
  border: 1px solid #9292af;
  border-radius: 6px;
  width: 148px;
  height: 22px;
  position: relative;
}

._2023-text {
  opacity: .24;
  color: #fff;
  text-align: center;
  letter-spacing: .2px;
  cursor: default;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  position: absolute;
  inset: auto 0% -120px;
}

.share-sheet {
  z-index: 1000;
  background-color: #29292b;
  width: 350px;
  margin-top: 0;
  padding-bottom: 16px;
  display: none;
  position: absolute;
  inset: 0% 0% auto auto;
  box-shadow: 0 4px 8px #0000004d;
}

.share-header {
  border-bottom: 1px solid #3d3d3d;
  align-items: center;
  margin-bottom: 8px;
  padding: 12px;
  display: flex;
}

.share-heading {
  letter-spacing: .4px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;
}

.share-placeholder-text {
  background-color: #3d3d3d;
  border-radius: 5px;
  width: 54px;
  height: 14px;
  margin-right: 20px;
}

.share-access-org {
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
}

.share-org-img {
  border-radius: 4px;
  width: 32px;
  margin-right: 10px;
}

.share-info-text {
  letter-spacing: .3px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 500;
}

.share-org-text {
  font-weight: 600;
}

.share-access-row {
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
}

.share-you-img {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.share-you-img.you {
  background-color: #0b99ff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.share-sheet-divider {
  border-bottom: 1px solid #3d3d3d;
  height: 1px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.y-text-sm {
  cursor: default;
  font-size: 14px;
  font-weight: 700;
}

.y-text-lg {
  font-size: 16px;
  font-weight: 700;
}

.share-sheet-button-div {
  margin-top: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.share-sheet-button {
  background-color: #0b99ff;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 38px;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
}

.share-button-flex {
  justify-content: center;
  align-items: center;
  display: flex;
}

.share-link-text {
  letter-spacing: .3px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 700;
}

.twitter-icon {
  width: 20px;
  margin-right: 8px;
}

.hiring-text {
  color: #ffffff80;
  font-weight: 400;
}

.trash-absolute {
  z-index: 999;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: none;
  position: absolute;
  inset: 0%;
}

.trash-ui {
  background-color: #29292b;
  border: 1px solid #ffffff21;
  border-radius: 10px;
  width: 700px;
  height: 500px;
  box-shadow: 0 8px 20px #000000a6;
}

.window-controls-container-small {
  justify-content: space-between;
  width: 64px;
  display: flex;
}

.window-controls-small {
  background-color: #0203081f;
  border: 1.5px solid #ffffff1a;
  border-radius: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  display: flex;
}

.trash-header {
  border-bottom: 1px solid #353535;
  align-items: center;
  padding: 12px 20px;
  display: flex;
}

.trash-heading {
  letter-spacing: .3px;
  margin-left: 24px;
  font-size: 16px;
  font-weight: 700;
}

.trash-list-item {
  align-items: center;
  display: flex;
}

.trash-list-item._2 {
  background-color: #1f1f1f;
}

.trash-list-item.empty-2 {
  background-color: #1f1f1f;
  height: 28px;
}

.trash-list-item.empty-2.end {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.trash-list-item.empty-1 {
  height: 28px;
}

.trash-text {
  letter-spacing: .3px;
  font-size: 14px;
  font-weight: 500;
}

.trash-name-div {
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  display: flex;
}

.trash-time-div {
  width: 280px;
}

.image {
  width: 28px;
}

.trash-info-text {
  color: #ffffff80;
  letter-spacing: .3px;
  font-size: 14px;
  font-weight: 500;
}

.trash-list-header {
  border-bottom: 1px solid #353535;
  align-items: center;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
}

.trash-name-text {
  color: #ffffff80;
  letter-spacing: .3px;
  margin-left: 28px;
  font-size: 12px;
  font-weight: 500;
}

.trash-date-text, .trash-kind-text {
  color: #ffffff80;
  letter-spacing: .3px;
  margin-left: 0;
  font-size: 12px;
  font-weight: 500;
}

.close-icon {
  opacity: 0;
  width: 8px;
  height: 8px;
}

.trash-list-item-2 {
  background-color: #1f1f1f;
  align-items: center;
  display: flex;
}

.twitter-share-icon {
  width: 18px;
  margin-left: 6px;
}

.nav-button-flex {
  display: flex;
}

.trash-list-item-empty-2 {
  background-color: #1f1f1f;
  align-items: center;
  height: 28px;
  display: flex;
}

.trash-list-item-empty-2._2 {
  background-color: #1f1f1f;
}

.trash-list-item-empty-2.empty-2 {
  background-color: #1f1f1f;
  height: 28px;
}

.trash-list-item-empty-2.empty-2.end {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.trash-list-item-empty-2.empty-1 {
  height: 28px;
}

.trash-list-item-empty-2.last {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.trash-list-item-empty {
  align-items: center;
  height: 28px;
  display: flex;
}

.trash-list-item-empty._2 {
  background-color: #1f1f1f;
}

.trash-list-item-empty.empty-2 {
  background-color: #1f1f1f;
  height: 28px;
}

.trash-list-item-empty.empty-2.end {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.trash-list-item-empty.empty-1 {
  height: 28px;
}

.genius-cursor-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  min-height: 20px;
  margin-top: -1px;
  margin-right: 8px;
  display: flex;
  position: relative;
}

.genius-cursor-outter, .genius-cursor-ring {
  min-width: 20px;
  min-height: 20px;
  position: absolute;
  inset: 0%;
}

.genius-cursor-hole {
  background-color: #000;
  border-radius: 100%;
  width: 5px;
  min-width: 5px;
  height: 5px;
  min-height: 5px;
  position: relative;
  inset: 0%;
}

.cursor-highlight-tabs-current {
  z-index: 1;
  filter: blur(18px);
  background-color: #ffffffb3;
  border-radius: 100%;
  width: 100px;
  height: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: absolute;
  inset: auto 0% 0%;
}

.dock-copy {
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
  background-image: linear-gradient(135deg, #38393a99, #1f20231a);
  border: 1px solid #404043;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  padding: 12px;
  transition: box-shadow .4s;
  display: flex;
  box-shadow: 0 4px 6px #0000000d, 0 10px 16px -3px #0000001a;
}

.dock-copy:hover {
  box-shadow: 0 20px 32px #0000001a, 0 10px 16px -3px #0000001a;
}

@media screen and (min-width: 1280px) {
  .figma {
    margin-top: -40px;
  }

  .cmd-tab-hover {
    border-radius: 20px;
  }

  .dock {
    padding: 16px;
  }

  .app-icon {
    border-radius: 14px;
    width: 56px;
    margin-right: 20px;
  }

  .app-icon.xdesign {
    min-width: 70px;
    margin-left: -7px;
    top: 9px;
  }

  .tooltip-float-diagram {
    opacity: 0;
    left: -24px;
  }

  .tooltip-float-readcv {
    opacity: 0;
    left: -8px;
  }

  .tooltip-float-xdesign {
    opacity: 0;
    left: -29px;
  }

  .tooltip-float-figma {
    opacity: 0;
    left: -2px;
  }

  .tooltip-float-campsite {
    opacity: 0;
    left: -12px;
  }

  .tooltip-float-universe {
    opacity: 0;
    left: -8px;
  }

  .tooltip-float-trash {
    opacity: 0;
    left: 1px;
  }

  .dock-copy {
    padding: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .cmd-tab-hover {
    border-radius: 22px;
  }

  .app-icon {
    border-radius: 16px;
    width: 64px;
  }

  .app-icon.xdesign {
    min-width: 79px;
    margin-left: -7px;
    top: 9px;
  }

  .tooltip-float-diagram {
    opacity: 0;
    left: -21px;
  }

  .tooltip.center {
    border: 1px solid #343438;
  }

  .tooltip-float-readcv {
    opacity: 0;
    left: -3px;
  }

  .tooltip-float-xdesign {
    opacity: 0;
    left: -25px;
  }

  .tooltip-float-figma {
    opacity: 0;
    left: 2px;
  }

  .tooltip-float-campsite {
    opacity: 0;
    left: -8px;
  }

  .tooltip-float-universe {
    opacity: 0;
    left: -5px;
  }

  .tooltip-float-trash {
    opacity: 0;
    left: 3px;
  }
}

@media screen and (max-width: 991px) {
  body {
    font-size: 14px;
  }

  .container {
    padding-left: 3em;
    padding-right: 3em;
  }

  .nav {
    max-width: none;
    padding-left: 16px;
    padding-right: 16px;
  }

  .figma {
    left: 50%;
    transform: translate(-50%);
  }

  .star-bg {
    background-position: 0 0;
  }
}

@media screen and (max-width: 767px) {
  .body {
    overflow: hidden;
  }

  .figma {
    box-shadow: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    background-color: #0000;
    background-image: none;
    border-style: none;
    height: auto;
  }

  .figma-tab-wrapper, .figma-toolbar, .figma-left-panel, .figma-right-panel {
    display: none;
  }

  ._100vh {
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
  }

  .request-access-button {
    background-color: #0b0b0e;
  }

  .home-link.w--current {
    width: 80px;
  }

  .radial-gradient, .figma-tab-container {
    display: none;
  }

  .by-diagram-text {
    margin-bottom: 0;
    font-size: 16px;
  }

  .cmd-tab-hover {
    display: none;
  }

  .dock {
    background-color: #242424;
    background-image: none;
    border-style: none;
    width: 100vw;
  }

  .app-icon {
    box-shadow: none;
    border-radius: 4vw;
    width: 18vw;
    margin-right: 4vw;
  }

  .app-icon.relative._1.last, .app-icon.relative._1.mobile-hide {
    display: none;
  }

  .app-icon.relative._1.figma-last {
    margin-right: 0;
  }

  .app-icons {
    justify-content: space-between;
    width: 100%;
  }

  .dock-absolute {
    display: none;
  }

  .diagram-constellation {
    width: 300px;
    height: 300px;
  }

  .dock-divider {
    display: none;
  }

  .blur {
    background-image: linear-gradient(#0000, #0a0a0e 29% 54%, #0a0a0e);
  }

  .grain, .tooltip-float-diagram, .tooltip-float-readcv, .tooltip-float-xdesign, .tooltip-float-figma {
    display: none;
  }

  ._2023-text {
    bottom: -116px;
  }

  .dock-copy {
    background-color: #242424;
    background-image: none;
    border-style: none;
    width: 100vw;
  }
}

@media screen and (max-width: 479px) {
  .nav {
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .nav-button {
    padding: 8px 12px;
  }

  .figma {
    box-shadow: none;
    height: 613px;
  }

  .figma-design {
    display: block;
  }

  .home-link.w--current {
    width: 80px;
    margin-top: -2px;
  }

  .by-diagram-text {
    font-size: 16px;
  }

  .diagram-link {
    display: none;
  }

  .dock {
    background-color: #242424bf;
    border-radius: 40px;
    width: 94%;
    padding: 20px;
  }

  .app-icon.relative._1 {
    width: 16vw;
  }

  .dock-absolute {
    display: none;
    bottom: 16px;
  }

  .star-bg {
    opacity: 0;
  }

  .lofi-flex {
    font-size: 0;
  }

  .teaser-logo {
    width: 310px;
  }

  .blur {
    height: 170px;
  }

  .genius-display-text {
    font-size: 100px;
  }

  .companion-text {
    font-size: 20px;
  }

  .share-button {
    margin-right: 0;
  }

  .dock-copy {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    background-color: #242424bf;
    border-radius: 40px;
    flex: 0 auto;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100px;
    padding: 20px;
    display: flex;
  }
}


@font-face {
  font-family: 'Space Monkey';
  src: url('../fonts/Space-Monkey.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi Variable';
  src: url('../fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Satoshi Variable';
  src: url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
  font-weight: 300 900;
  font-style: italic;
  font-display: swap;
}